.add-task-container {
    margin: 15px 0;
    width:  100%;
    display: flex;

}

.add-task-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    flex: 2;
    background-color: rgba(5, 5, 5, 0.815);
    color: rgb(223, 223, 223);
    font-size: 16px;
    
}

.add-task-button-container {
    margin-left: 25px;
    flex: 1;

}

