.task-container {
    background-color: rgb(17, 17, 17);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title {
    cursor: pointer;
}

.remove-task-button {
    background-color: rgb(17, 17, 17);
    border: none;
    font-size: 24px;
    color: chartreuse;
    cursor: pointer; 
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;  
}

.remove-task-button:hover {
    box-shadow: 0 0 10px 0 #34dbdb  inset, 0 0 10px 4px #39db34;
  }

  .see-task-details-button {
    background-color: rgb(17, 17, 17);
    border: none;
    font-size: 24px;
    color: chartreuse;
    margin: 0 5px;
    cursor: pointer; 
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;  
    
  }

  .see-task-button:hover {
    box-shadow: 0 0 10px 0 #34dbdb  inset, 0 0 10px 4px #39db34;
  }